<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @transport.name %>
</p>

<p>
  <strong>Bus:</strong>
  <%= @transport.bus.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @transport.from.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @transport.to.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @transport.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @transport.end_date %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @transport.departure_time %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @transport.arrival_time %>
</p>

<p>
  <strong>Recurrence:</strong>
  <%= @transport.recurrence %>
</p>

<%= link_to 'Edit', edit_transport_path(@transport) %> |
<%= link_to 'Back', transports_path %>
