<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :journey_id %>
    <!-- <%= form.text_field :journey_id, id: :booking_journey_id %> -->
    <%= form.collection_select :journey_id, @journeys, :id, :name , id: :booking_journey_id %>

  </div>
<!--
  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :booking_user_id %>
  </div> -->

  <div class="field">
    <%= form.label :seats_count %>
    <%= form.number_field :seats_count, id: :booking_seats_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
