<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transport_id %>
    <%= form.collection_select :transport_id, @transports, :id, :name , id: :booking_transport_id %>
<%= @transports.count %>
  </div>
<%= select("name","id", Transport.all.collect {|d| [d.start_date, d.name]}, {include_blank: true}) %>

  <div class="field">
    <%= form.label :seats_count %>
    <%= form.number_field :seats_count, id: :booking_seats_count %>
  </div>
  <select name="city[country_id]" id="city_country_id">
    <optgroup label="Africa">
      <option value="1">South Africa</option>
      <option value="3">Somalia</option>
    </optgroup>
    <optgroup label="Europe">
      <option value="7" selected="selected">Denmark</option>
      <option value="2">Ireland</option>
    </optgroup>
  </select>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
