
<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Journey</th>
      <th>Seats count</th>
      <th>Departure Date</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>

    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.transport.name, booking %></td>

        <td><%= booking.seats_count %></td>
        <td><%= format_date(booking.departure_date) %></td>
        <td><%= format_time(booking.transport.arrival_time) %></td>
        <td><%= format_time(booking.transport.departure_time) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
