<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Journey</th>
      <th>Seats count</th>
      <th>Departure Date/TIme</th>
      <th>Arrival Date/Time</th>

    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.journey.name, booking %></td>

        <td><%= booking.seats_count %></td>
        <td><%= format_datetime(booking.journey.arrival_time) %></td>
        <td><%= format_datetime(booking.journey.departure_time) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
