<h1>Booking Summary</h1>
<p>
  <strong>Journey:</strong>
  <%= @booking.journey %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Seats count:</strong>
  <%= @booking.seats_count %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
