<h1>Booking Summary</h1>
<p>
  <strong>Travels:</strong>
  <%= @booking.journey.name%>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @booking.journey.from.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @booking.journey.to.name %>
</p>


<p>
  <strong>Departure Time:</strong>
  <%= format_datetime(@booking.journey.departure_time) %>
</p>

<p>
  <strong>Arrival Time:</strong>
  <%= format_datetime(@booking.journey.arrival_time )%>
</p>

<p>
  <strong>Seats count:</strong>
  <%= @booking.seats_count %>
</p>

<p>
  <strong>Total Cost:</strong>
  <%= @booking.journey.cost * @booking.seats_count %>
</p>

<p>
  <strong>Booking Status:</strong>
  <font color = "green"><strong><%= @booking.status %></strong></font>
</p>

<p>
  <strong>
    <%= link_to 'Cancel Booking', booking_path, :confirm => 'Are you sure you want to destroy your account?', :method => :delete %>
  </strong>
</p>

<% if @passengers.any? %>
<div class="jumbotron">
  <p><strong>Passenger Details</strong></p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <%= render @passengers %>
  </table>
</div>
<% end %>
<% if passenger_details(@booking) > 0 %>
<%= render 'shared/passenger_form' %>
<% end %>
