<h1>Booking Summary</h1>
<p>
  <strong>Travels:</strong>
  <%= @booking.transport.name%>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @booking.transport.from.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @booking.transport.to.name %>
</p>

<p>
  <strong>Departure Date:</strong>
  <%= format_date(@booking.departure_date) %>
</p>

<p>
  <strong>Departure Time:</strong>
  <%= format_time(@booking.transport.departure_time) %>
</p>

<p>
  <strong>Arrival Time:</strong>
  <%= format_time(@booking.transport.arrival_time )%>
</p>

<p>
  <strong>Seats count:</strong>
  <%= @booking.seats_count %>
</p>

<p>
  <strong>Total Cost: <%= cost(@booking) %></strong>
</p>


<p>
  <strong>Booking Status:</strong>
  <font color = "green"><strong><%= booking_status(@booking)%></strong></font>
</p>

<p>
  <strong>
    <%= link_to 'Cancel Booking', booking_path, :confirm => 'Are you sure you want to destroy your account?', :method => :delete %>
  </strong>
</p>

<% if @passengers.any? %>
<div class="jumbotron">
  <p><strong>Passenger Details</strong></p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <%= render @passengers %>
  </table>
</div>
<% end %>
