<%= form_for(@journey , method: :post,:url => { :action => :search, :controller => :journeys}) do |form| %>
  <div class="field">
    <%= form.label :from_id %>
    <!-- <%= form.text_field :bus_id, id: :journey_bus_id %> -->
    <%= form.collection_select :from_id, @destinations, :id, :name , id: :journey_from_id %>


  </div>

  <div class="field">
    <%= form.label :to_id %>
    <!-- <%= form.text_field :bus_id, id: :journey_bus_id %> -->
    <%= form.collection_select :to_id, @destinations, :id, :name , id: :journey_to_id %>

  </div>


  <!-- <%= form.text_field :departure_time, data:{ provide:'datepicker' }  , id: :journey_departure_time%> -->

  <%= form.text_field :departure_time, class: "datepicker", id: :journey_departure_time%>


    <!-- <div class="field">
      <%= form.label :departure_time %>
      <%= form.datetime_select :departure_time, id: :journey_departure_time %>
    </div> -->


  <%= form.submit "Search",  class: "btn btn-primary" %>
<% end %>



<script type="text/javascript">
  $(document).ready(function(){
    // $('.datepicker').datepicker();
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});

  });
</script>

<!--
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div> -->



<!--
<%= form_tag users_path, :method => 'get', :id => 'users_search' do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
    </p>
<% end %> -->
