<%= form_with(model: @booking, local: true, id: "transport_form" ) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <%= form.hidden_field :transport_id, id: :booking_transport_id, value: @transport.id %>
      <%= form.hidden_field :departure_date, id: :booking_departure_date, value: @booking.departure_date %>

      <p><strong>Departure Date :<%=format_date(@booking.departure_date) %></strong></p>
  <div class="field">
    <%= form.label "Seats Count (Enter the number of seats to Book)" %>
    <%= form.select :seats_count, options_for_select(1..5) , {},id: :booking_seats_count %>

  </div>

  <p id="add_passengers"><%= link_to_add_fields "Add Passengers", form, :passengers %></p>




  <div class="actions">
    <%= form.submit "Book" ,disabled: "disabled", id: "submit"%>
  </div>
<% end %>
