<%= form_with(model: bus, local: true) do |form| %>
  <% if bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% bus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bus_name %>
  </div>

  <div class="field">
    <%= form.label :max_seats %>
    <%= form.number_field :max_seats, id: :bus_max_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
