<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: journey, local: true) do |form| %>
  <% if journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :journey_name %>

  </div>

  <div class="field">
    <%= form.label :bus_id %>
    <%= form.collection_select :bus_id, @buses, :id, :name , id: :journey_bus_id %>

  </div>




                  <div  class='input-group date' id='datetimepicker1'>
                    <%= form.label :departure_time %>
                    <%= form.text_field :departure_time, class: "field", id: :journey_departure_time %>
                    <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                  </div>

              <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
              $(function () {
                  $('#datetimepicker2').datetimepicker();
              });
              </script>


              <div  class='input-group date' id='datetimepicker2'>
                <%= form.label :arrival_time %>
                <%= form.text_field :arrival_time, class: "field", id: :journey_arrival_time %>
                <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>


  <div class="field">
    <%= form.label :from_id %>
    <%= form.collection_select :from_id, @destinations, :id, :name , id: :journey_from_id %>

  </div>

  <div class="field">
    <%= form.label :to_id %>
    <%= form.collection_select :to_id, @destinations, :id, :name , id: :journey_to_id %>

  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.select :cost, options_for_select(0..500), id: :journey_cost %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
</div>
