<tbody>
  <tr>
    <td><%=link_to journey.name, journey%></td>
    <td><%=format_datetime(journey.departure_time)%></td>
    <td><%=format_datetime(journey.arrival_time)%></td>
    <td><%= journey.cost %></td>

    <% max = max_seats(journey)%>
    <td><%=max%><br/></td>
    <td><%=free_seats(journey, max)%></td>
    <td><%= link_to 'Delete', journey, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <!-- <td></td> -->

  </tr>
</tbody>
