<p id="notice"><%= notice %></p>

<p>
  <strong>Bus:</strong>
  <%= @journey.bus.name %>
</p>



<p>
  <strong>Departure time:</strong>
  <%= @journey.departure_time.strftime('%a, %d-%b-%Y %H:%M %p') %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @journey.arrival_time.strftime('%a, %d-%b-%Y %H:%M %p') %>
</p>

<p>
  <strong>From:</strong>
  <%= @journey.from.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @journey.to.name %>
</p>

<% max = max_seats(@journey)%>


<p>
  <strong>Booked Seats:</strong>
  <%= max %>
</p>

<p>
  <strong>Free Seats:</strong>
  <%= free_seats(@journey, max) %>
</p>
<%= render '/shared/booking_form' %>
