<p id="notice"><%= notice %></p>

<p>
  <strong>Bus:</strong>
  <%= @journey.bus.name %>
</p>

<p>
  <strong>Journey date:</strong>
  <%= @journey.journey_date %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @journey.departure_time %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @journey.arrival_time %>
</p>

<p>
  <strong>From:</strong>
  <%= @journey.from.name %>
</p>

<p>
  <strong>To:</strong>
  <%= @journey.to.name %>
</p>

<%= link_to 'Edit', edit_journey_path(@journey) %> |
<%= link_to 'Back', journeys_path %>
